

.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.typing-container {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  min-height: 30px;
  opacity: 1;
  transition: opacity 0.5s;
}

.cursor {
  border-right: 2px solid black;
  animation: blink 0.7s steps(2) infinite;
}

@keyframes blink {
  0%, 100% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
}

.password-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
  width: 300px; /* Reduced width */
  height: 50px; /* Original height */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.password-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.password-input::placeholder {
  text-align: center;
  color: #aaa;
}

.submit-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.arrow-icon {
  width: 24px;
  height: 24px;
}

.footer-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #333;
}
